* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, Helvetica, sans-serif;
}

body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    height: 100%;
  }

:root{
    --primary-color: #1F2937;
    --secondary-color: #3882F6;
    --third-color: white;
    --fourth-color: white;
    --text-color: white;
}

.highlight{
    color: var(--secondary-color);
}

nav {
    background: var(--primary-color);
}

.navbar-nav {
    gap: 36px;
}

.navbar-toggler{
    padding: 8px;
    border-radius: 8px;
}

.navbar-toggler:hover{
    color: var(--third-color);
    background-color: var(--secondary-color);
}

.navbar-collapse{
    padding-left: 36px;
}

.navbar-nav .nav-link {
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
    text-align: center; 
    transition: background-color 0.6s ease;
  }

.the-image{
    max-width: 30rem;
    height: auto;
}

.logo-font{
    font-size: 24px;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    padding: 18px;
    transition: background-color 0.4s ease;
}

nav a:hover{
    color: var(--third-color);
    background-color: var(--secondary-color);
    border-radius: 6px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--primary-color);
    padding: 0px;
    gap: 50px;

    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-text{
    max-width:550px;
    width: 100%;
    word-wrap: break-word;

    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.hero-text.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
.hero-text h1 {
    font-size: 72px;
    color: var(--text-color);
    font-weight: bolder;
    padding-bottom: 12px;
    padding-top: 12px;
}

.icons{
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    padding-top: 5px;
}

.icon-button{
    text-decoration: none;
}

.ri-linkedin-box-fill{
    color: #0072b1;
}

.ri-linkedin-box-fill:hover{
    color: white;
    background: #0072b1;
    transition: background-color 0.6s ease, color 0.6s ease;
    border-radius: 15%;
}


.ri-github-fill{
    color: white;
}

.ri-github-fill:hover{
    color: black;
    background: white;
    border-radius: 50%;
    transition: background-color 0.6s ease, border-color 0.6s ease, color 0.6s ease;
}

.hero-text p {
    font-size: 18px;
    color: var(--text-color);
    padding-bottom: 20px;
}

.hireMe {
    padding: 10px 20px;
    border: none;
    background: var(--secondary-color);
    color: var(--third-color);
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
    transition: background-color 0.4s ease;
}


.hireMe:hover{
    background: var(--third-color);
    color: var(--secondary-color);
}

.hireMe:active{
    background: var(--third-color);
    color: var(--secondary-color);
    transform: scale(0.95);
}

.buttons{
    display:flex;
    gap: 1rem;
}

/*Experience Section*/

.exp-container{
    background: #f0f0f0;
}

.exp-container img{
    border: 1px solid black;
}

.photo-title h1{
    text-align: center;
    padding: 48px;
    color: var(--primary-color);
    font-size: 36px;
    font-weight: bolder;
}

.left-section, .right-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem; /* Small padding to keep a bit of space on the sides */
    padding-bottom: 5rem;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
    flex: 1;
    min-width: 200px;
}


.text-format{
    max-width:550px;
    width: 100%;
}

.proj-title{
    font-weight: bold;
}

.research-image{
    max-width: 400px;
    max-height: auto;
}

.dora-image{
    width: 200px;
    max-height: auto;
}

.dht-image{
    width: 20rem;
}

.feeder-image{
    width: 20rem;
}

.self-image{
    width: 26rem;
    height: auto;
}

img{
    border-radius: 8px;
}

/*Project Section*/

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    box-sizing: border-box;
}

.proj-title{
    padding-top: 15px;
}
.flex-grid-thirds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px; /* Adjust as needed */
    margin-bottom: 1rem;
    gap: 2rem;
}

.col {
    flex: 1;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #f0f0f0; /* Optional: for visual clarity */
    text-align: center;
    max-width: calc(50% - 0.5rem); /* Adjust as needed to ensure spacing */
    border-radius: 15px;
    border: 1px solid black;
}

.col img{
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    max-width: 80%;
    height: auto;
}
  
.project-image{
    max-width: 400px;
    max-height: auto;
}

.dog-image-container{
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    flex-wrap: wrap;
}

.dog-image{
    width: 250px;
    height: auto;
}
  
/*About Me Section*/
.about-container{
    background: #f0f0f0;
}

/*Contact Section*/

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    flex-direction: row;
  }

.icons{
    display: flex;
    flex-direction: row;
    padding: 0px;
}


.contact-title h1{
    text-align: center;
    padding: 48px;
    padding-bottom: 10px;
    color: var(--primary-color);
    font-size: 36px;
    font-weight: bolder;
}

.hook{
    text-align: center;
    font-weight: bolder;
  }

.form-subtext{
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50rem;
    max-height: 750px;
    max-width: 400px; 
    padding: 20px;
    background-color: var(--third-color);
    border-radius: 8px;
}

.form-group {
    display: flex;
    align-items: flex-start; /* Align items at the top */
}
  
.form-group label {
    margin-right: 1rem; /* Adjust the spacing between the label and the textarea */
}

.styled-calendar-container{
    max-width: 800px;
    max-height: 1200px;
}

#email, #subject, #message{
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 20px;
}

#message{
    height: 21rem;
    padding: 5px;
    font-size: 16px;
}

.send-button {
    padding: 8px 16px;
    border: none;
    background: var(--secondary-color);
    color: var(--third-color);
    font-weight: bold;
    font-size: 24px;
    border-radius: 5px;
    transition: background-color 0.6s ease;
    border: 2px solid var(--secondary-color); /* Default border color */
}

.send-button:hover{
    background: var(--third-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.ri-github-fill.form{
    color: black;
    border-radius: 50%;
}

.ri-github-fill.form:hover{
    color: white;
    background: black;
    border-radius: 50%;
    transition: background-color 0.6s ease, border-color 0.6s ease, color 0.6s ease;
}





/*Footer Section*/

.foot-container{
    background: var(--primary-color);
    color: var(--text-color);
    margin: 0px;
    text-align: center;
    padding: 1rem;
}





@media (max-width: 768px) {
    .hero {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .hero-text {
      max-width: 90%;
      text-align: center;
      position: absolute;
      top: 26%;
      left: 0%;
      transform: translate(-50%, -50%);
    }

    .the-image{
        max-width: 25rem;
    }

    .buttons{
        justify-content: center;
    }






    .right-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        text-align: center;
      }
  
      .left-section {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          text-align: center;
        }
      
      .left-section img{
          width: 80%;
      }


      .flex-grid-thirds{
        flex-direction: column;
      }
  
      .col{
          max-width: 100%;
      }

      .contact-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 80px;
        flex-direction: column;
    }

    .icons{
        justify-content: center;
        align-items: center;
    }

    .dog-image-container {
        flex-direction: column; 
        gap: 10px;  
    }
}